@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

/* Global */
* {
  font-family: 'Raleway', sans-serif;
}
ul {
  list-style: none;
}

/* Main wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(88, 88, 88, 0.123);
}

/* Search Bar */
.search-bar input {
  margin-top: 5vh;
  overflow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  border-radius: 5px 5px 0 0;
  width: 70vw;
  padding: 1.41vw;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-bar input[type="text"] {
  font-size: 20px;
}

.search-tag input {
  overflow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  width: 70vw;
  padding: 1.41vw;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-tag input[type="text"] {
  font-size: 20px
}

.tags-input ul li {
  float: left;
}

.tags-input span {
  background-color: rgba(128, 128, 128, 0.247);
  border: none;
  border-radius:5px;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:10px;
}

.tags-input input{
  overflow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  width: 10vw;
  padding:10px;
  margin:5% 5% 5% 12%;
}

/* Profile */
.profile {
  display: flex;
  justify-content: row;
  align-items: flex-start;
  background: #fff;
  border-bottom: 0.5px solid grey;
}

.profile-container {
  border: 0 0.5px 0.5px 0.5px solid grey; 
  width: 72.81vw;
  height: 75vh;
  overflow: auto;
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}

.profile img {
  border-radius: 50%;
  border: 0.5px solid;
  width: 15vh;
  height: 15vh;
  margin: 3%;
}

/* Icons */
.icons {
  color: grey;
  margin: 20px 20px 20px auto;
  overflow: none;
}

.icons:hover {
  color: black;
}